<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="COM_EGOLTPROJECT_GENERIAL_SETTING"
		description="COM_EGOLTPROJECT_GENERIAL_SETTING_DESC">
		<field
			name="log_dl"
			type="radio"
			label="COM_EGOLTPROJECT_LOG_DL"
			description="COM_EGOLTPROJECT_LOG_DL_DESC"
			default="1">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>
		<field
			name="en_rev"
			type="radio"
			label="COM_EGOLTPROJECT_ENABLE_REVIEWS"
			description="COM_EGOLTPROJECT_ENABLE_REVIEWS_DESC"
			default="1">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>
		<field
			name="COM_EGOLTPROJECT_CONFIG_PROJECTS"
			type="spacer"
		/>
		<field
			name="pr_img_w"
			type="text"
			label="COM_EGOLTPROJECT_PROJECT_IMG_WIDTH"
			description="COM_EGOLTPROJECT_PROJECT_IMG_WIDTH_DESC"
			default="110"
			filter="int"
			class="inputbox"
		/>
		<field
			name="pr_img_h"
			type="text"
			label="COM_EGOLTPROJECT_PROJECT_IMG_HEIGHT"
			description="COM_EGOLTPROJECT_PROJECT_IMG_HEIGHT_DESC"
			default="110"
			filter="int"
			class="inputbox"
		/>
		<field
			name="COM_EGOLTPROJECT_CONFIG_DOWNLOADS"
			type="spacer"
		/>
		<field
			name="dl_unq"
			type="radio"
			label="COM_EGOLTPROJECT_UNQ"
			description="COM_EGOLTPROJECT_SHOWUNQ_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="dl_pubdate"
			type="radio"
			label="COM_EGOLTPROJECT_PUBDATE"
			description="COM_EGOLTPROJECT_SHOWPUBDATE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="dl_lic"
			type="radio"
			label="COM_EGOLTPROJECT_LICENSE"
			description="COM_EGOLTPROJECT_SHOWLIC_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="dl_licnotice"
			type="radio"
			label="COM_EGOLTPROJECT_LICNOTICE"
			description="COM_EGOLTPROJECT_LICNOTICE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="dl_related"
			type="radio"
			label="COM_EGOLTPROJECT_RELATED_DOWNLOADS"
			description="COM_EGOLTPROJECT_RELATED_DOWNLOADS_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="dl_designer"
			type="radio"
			label="COM_EGOLTPROJECT_DESIGNER"
			description="COM_EGOLTPROJECT_SHOWDESIGNER_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset
		name="directory"
		label="COM_EGOLTPROJECT_UPLOADER_SETTING"
		description="COM_EGOLTPROJECT_UPLOADER_SETTING_DESC">
		<field
			name="upload_maxsize"
			type="text"
			size="40"
			default="10"
			label="COM_EGOLTPROJECT_UP_MAXSIZE"
			description="COM_EGOLTPROJECT_UP_MAXSIZE_DESC" 
		/>
		<field
			name="check_mime"
			type="radio"
			default="0"
			label="COM_EGOLTPROJECT_CHECK_MIME"
			description="COM_EGOLTPROJECT_CHECK_MIME_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="COM_EGOLTPROJECT_CONFIG_IMAGES"
			type="spacer"
		/>
		<field
			name="img_ext"
			type="text"
			label="COM_EGOLTPROJECT_IMG_EXT"
			description="COM_EGOLTPROJECT_IMG_EXT"
			size="40"
			default="bmp,gif,jpg,png,BMP,GIF,JPG,PNG"
			class="inputbox"
		/>
		<field
			name="img_mime"
			type="text"
			label="COM_EGOLTPROJECT_IMG_MIME"
			description="COM_EGOLTPROJECT_IMG_MIME"
			size="40"
			default="image/bmp,image/x-windows-bmp,image/gif,image/jpeg,image/pjpeg,image/png"
			class="inputbox"
		/>
		<field
			name="projects_dir"
			type="text"
			label="COM_EGOLTPROJECT_PROJECTS_DIR"
			description="COM_EGOLTPROJECT_PROJECTS_DIR"
			size="40"
			default="media/egoltproject/projects"
			class="inputbox"
		/>
		<field
			name="compats_dir"
			type="text"
			label="COM_EGOLTPROJECT_COMPATS_DIR"
			description="COM_EGOLTPROJECT_COMPATS_DIR"
			size="40"
			default="media/egoltproject/compats"
			class="inputbox"
		/>
		<field
			name="COM_EGOLTPROJECT_CONFIG_FILES"
			type="spacer"
		/>
		<field
			name="file_ext"
			type="text"
			label="COM_EGOLTPROJECT_FILE_EXT"
			description="COM_EGOLTPROJECT_FILE_EXT"
			size="40"
			default="zip,rar,gz,gzip,tgz,tar,pdf,ppt,swf,txt,xls,doc,ZIP,RAR,GZ,GZIP,TGZ,TAR,PDF,PPT,SWF,TXT,XLS,DOC"
			class="inputbox"
		/>
		<field
			name="file_mime"
			type="text"
			label="COM_EGOLTPROJECT_FILE_MIME"
			description="COM_EGOLTPROJECT_FILE_MIME"
			size="40"
			default="application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,application/x-rar-compressed,application/octet-stream,application/x-compressed,application/x-gzip,multipart/x-gzip,application/gnutar,application/x-compressed,application/x-tar,application/pdf,application/acrobat,application/x-pdf,applications/vnd.pdf,text/pdf,text/x-pdf,application/mspowerpoint,application/powerpoint,application/vnd.ms-powerpoint,application/x-mspowerpoint,application/x-shockwave-flash,text/plain,application/vnd.ms-excel,application/x-excel,application/x-msexcel,application/excel,application/msword"
			class="inputbox"
		/>
		<field
			name="downloads_dir"
			type="text"
			label="COM_EGOLTPROJECT_DOWNLOADS_DIR"
			description="COM_EGOLTPROJECT_DOWNLOADS_DIR"
			size="40"
			default="media/egoltproject/downloads"
			class="inputbox"
		/>
		<field
			name="languages_dir"
			type="text"
			label="COM_EGOLTPROJECT_LANGUAGES_DIR"
			description="COM_EGOLTPROJECT_LANGUAGES_DIR"
			size="40"
			default="media/egoltproject/languages"
			class="inputbox"
		/>
		<field
			name="COM_EGOLTPROJECT_CONFIG_FOLDERS"
			type="spacer"
		/>
		<field
			name="demos_dir"
			type="text"
			label="COM_EGOLTPROJECT_DEMOS_DIR"
			description="COM_EGOLTPROJECT_DEMOS_DIR"
			size="40"
			default="media/egoltproject/demos"
			class="inputbox"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_egoltproject"
			section="component"
		/>
	</fieldset>
</config>